<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	>
	
    <bean id="pozdrav" class="model.Pozdrav"/>
	
    <bean id="aroundPozdrav" class="aop.config.DopisAdvice"/>
	
    <aop:config>
        <aop:aspect ref="aroundPozdrav">
            <aop:pointcut id="execPozdrav" expression="execution(* *.pozdrav(..))"/>
            <aop:before method="vypisUvod" pointcut-ref="execPozdrav"/>
            <aop:after method="vypisZaver" pointcut-ref="execPozdrav"/>
        </aop:aspect>
    </aop:config>

</beans>
